<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Accueil</title>
  </head>
  <body>
<center>
    <h1>Bienvenue sur ma page d'accueil</h1>
    <h2>Pour créer un utilisateur c'est par <%= link_to "ICI", new_user_path %></p>
    <iframe src="https://giphy.com/embed/xT0GqG6ueZcOJqjkfC" width="480" height="251" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/nasa-space-90-million-miles-away-xT0GqG6ueZcOJqjkfC">GIPHY rules</a></p>
</center>
  </body>
</html>
