<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Well done!</title>
  </head>
  <body>
<center>
    <h1>Félicitations!! Tu as enregistré une entrée avec le Formulaire HTML</h1>
    <p>Try again <%= link_to "ICI", new_user_path %></p>
    <iframe src="https://giphy.com/embed/rPlvwvK8LrCSY" width="480" height="393" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/love-reaction-nicki-minaj-rPlvwvK8LrCSY">GIPHY rules</a></p>
</center>
  </body>
</html>
